@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-datepicker/dist/react-datepicker.css";
.react-datepickerzz {
    position: absolute !important;
    right: 0 !important;
}

.b-ajust {
    margin-top: -38px;
}

.b-ajust-r {
    margin-right: 183px;
}

.mt-m-4 {
    margin-top: -4px;
}

.border-3 {
    border-width: 3px;
}